/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1rem;
}
  
nav {
    background: #000000;
    color: white;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    text-align: center;
}
  
button {
    cursor: pointer;
    background: #000000;
    color: #ffffff;
    font-size: 1rem;
}