<section class="tree-container">
    <div class="add-root-container">
        <button class="add-root-btn" aria-label="Click to add root folder" (click)="addRootNode()">Add Root Folder</button>
    </div>
    <div class="tree" *ngIf="nodeListData?.length">
        <app-node *ngFor="let node of nodeListData" [nodeData]="node" [rootNode]="true" (emitDeleteRootNode)="deleteNode($event)"></app-node>
    </div>
</section>
<section class="data-display">
    <pre>{{nodeListData | json}}</pre>
</section>